html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

button {
    line-height: 40px;
    font-size: 16px;
    display: block;
    margin: 10px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid;
    background: #fff;
    cursor: pointer;
    outline: none;
}

button:active {
    background: rgba(0,0,0,.1);
    outline: none;
}

.buttons-container button {
    display: inline;
}

.control-add-player,
.start {
    width: 200px;
    border-radius: 3px;
    display: inline;
    margin: 0 10px 0 0;

}
.layout {
    padding: 10% 50px;
    margin: auto;
    text-align: left;
}

.scoreboard {
    min-height: 60px;
    width: 690px;
}

.is-over,
.frame-number {
    padding: 0 0 20px 90px
}

.players {
    margin: 0 0 20px;
}

.frames,
.players {
    display: inline-block;
    min-height: 50px;
    vertical-align: middle;
}

.player {
    position: relative;
    margin-bottom: -1px;
}

.player.exit .name:after,
.player.winner .name:after {
    content: 'exit';
    display: block;
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    left: 15px;
}

.player.winner .name:after {
    content: 'winner';
    color: #f33;
}

.welcome {
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
}

.name {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    line-height: 50px;
    padding: 0 5px;
    text-align: center;
}

.active .name {
    font-weight: bold;
}

.frame {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: right;
    font-size: 14px;
    border: 1px solid;
    margin-right: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.frame:nth-child(even) {
    background: #efefef;
}

.score {
    display: inline-block;
    margin: -1px -1px 0 0;
    border: 1px solid transparent;
    padding: 3px;
    float: right;
    width: 16px;
    text-align: center;
}

.score:first-child {
    border-color: #000;
}

.frame-score {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 3px;
    font-weight: bold;
    font-size: 16px;
    width: 20px;
}

.controls {
    padding: 20px 0 0;
}
