.controls {
    padding: 20px 0 0;
}

.button {
    line-height: 40px;
    font-size: 16px;
    display: block;
    margin: 0 20px 20px 0;
    width: 40px;
    border-radius: 100%;
    border: 1px solid;
    background: #fff;
    cursor: pointer;
    outline: none;
}

.button:active {
    background: rgba(0,0,0,.1);
    outline: none;
}

.container {
    padding: 20px 0 0;
}

.buttons-container {
    width: 320px;
}

.buttons-container .button {
    display: inline;
}

.add-player,
.roll-random,
.start {
    width: 120px;
    border-radius: 3px;
    display: inline;
    margin: 0 10px 0 0;
}

.roll-random {
    margin: 0 0 20px;
}

.note {
    padding: 0 0 20px;
}

.note-random {
    padding: 0 0 20px;
}

