html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
}

.layout {
    padding: 20% 50px;
    margin: auto;
    text-align: left;
}

.table {
    position: relative;
    padding-right: 50px;
}

.score {
    position: absolute;
    right: 0;
    top: 0;
}

.players {
    margin: 0 0 20px;
}

.pins,
.players {
    display: inline-block;
    min-height: 20px;
}

.player {
    position: relative;
}
.name {
    display: inline-block;
}

.pin {
    display: inline-block;
    margin: 0 3px;
    padding: 2px;
    font-family: monospace;
}
.pin:nth-child(even) {background: #dedede}

