html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
}

.layout {
    padding-top: 20%;
    width: 320px;
    margin: auto;
    text-align: left;
}

.table {
    position: relative;
    padding-right: 50px;
}

.score {
    position: absolute;
    right: 0;
    top: 0;
}

.players {
    margin: 0 0 20px;
}

.pins,
.players {
    display: inline-block;
    min-height: 20px;
}

.label {
    display: inline-block;
}

.pin {
    display: inline-block;
    margin: 0 3px;
}

